
*{
 margin:0;
 padding:0;
 color:#f9f1f1;
 font-family:Courier New;
 text-decoration: none;
    cursor: url('saturn.png'), auto;
 }

body{
   /*background-image: url("https://images2.alphacoders.com/876/thumb-1920-876878.png");*/
    /*background-image: url("https://wallpaperaccess.com/full/345780.jpg");*/
    background-image: url("images/Background.jpg");


}

.cursor {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 18px solid #F9E795;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;


}




@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}



 #nav{
 	display: flex;
    padding: 17px 0px 17px 10px;
    border-color: black;
    border-bottom: solid;
    background-color: rgba(0,0,0,0.9);
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
 	position: fixed; /* Sticky/fixed navbar */
  	width: 100%;
  	top: 0; /* At the top */
  	z-index: 99;
 }

#nav div
{
	flex: 1;
	font-size: 30px; 
}
#nav button
{
	background-color: transparent;
	border-color: transparent;
	flex :1;
	text-decoration: none;
	font-size: 1em;
}

#nav a:hover
 {
    color: #72FADE;
    transition:0.4s;
 }

.active {
  /*border-bottom: 2px  solid #FA8072;*/
  background:rgba(250, 128, 114,0.8) ;
  color: black;
  border-radius: 5%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

.home
{
 display: inline-block;
}

.home h2 {
	padding: 80px 25px 10px 20px;
	font-size: 30px;
}

.home p{
	 line-height: 1.5em;
	 margin-left: 55px;

}


img 
{
	width: 220px;
	display: inline-block;
}

.image
{
	display: inline-block;
	float: right;
	padding-top: 120px;
	padding-right: 80px;
}

.home2
{
	display: flex;
}


.image2
{
	border-radius: 50%;
}

.image2 img
{
	border-radius: 50%;
	margin: 94px 0px 30px 40px;

}

.home2 p
{	
	padding: 200px;
	font-size: 25px;
	font-weight: bold;
}

h2
{
	font-size: 3em;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 4%;
}
.container1
{	margin-top: 6%;
	display: flex;
	margin-bottom: 8%;
}

.kolkata
{
	flex: 1;
}

.kolkata:hover
{
  transform : scale(1.05);
  transition-duration: 0.4s;
  ease-out;
}

.bits
{
	flex: 1;
}
.bits:hover
{
  transform : scale(1.05);
  transition-duration: 0.4s;
  ease-out;
}

.skillz
{
	flex: 1;
}

.skillz:hover
{
  transform : scale(1.05);
  transition-duration: 0.5s;
  

}
.images
{
	display: flex;
	flex-basis: 22%;
	 align-items: center;
  	justify-content: center;
  	margin-top: 5%;
}



.imgA
{
	flex:1;
	margin:auto;
}

.imgA:hover
{
 transform: scale(1.1);
 transition-duration: 0.5s;

}
.imgB:hover
{
 transform: scale(1.1);
 transition-duration: 0.5s;

}
.imgC:hover
{
 transform: scale(1.1);
 transition-duration: 0.5s;

}


.imgB
{
	flex:1;
}

.imgC
{
	flex:1;
}

 .images div
{
 
}

.imgA img , .imgB img , .imgC img
{border-radius: 30%;
 margin:0 24%;
}

.container1 div
{	padding-left: 3%;
	margin:0 5%;
	border-left: solid;
	border color: white;
}


.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  overflow: hidden;
}

#container a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 13px 11px;
}

#container {
  width: 100%;
  padding: 50px 0 150px 0;
  display: flex;
  margin-left: 4%;
}

#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  transition: all .35s ease-out;
  margin-left: 4%;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #4E9583 ;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-7 img {
  width: 20px;
  height: auto;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover a {

}

@media screen and (min-width:1000px) {
  h1 {
    font-size: 2.2em;
  }
  #container {
    width: 50%;
  }
}


#collab
{
	margin-left:4%;
}

.talk
{
	border-radius: 50%;
	margin-top:5%;
	margin-left: 4%;
}

.talk img
{
	border-radius: 40%;
}

.bottomNav
{
display: flex;
}

.bottomNav a
{
 display: inline-block;
 flex: 1;
 text-align: center;
 padding-bottom: 2%;
 text-decoration : none;
 border-left: solid;
 border-color: white;
 color: lightblue;
 text-align: center;
 padding-top:1.5%;
}


.bottomNav a:hover
{
    color: #FA8072;
    background-image: radial-gradient(rgba(41, 4, 89 ,0.4) , rgba(44, 1, 101 ,0.4),black 50%);
    transition:0.4s;
}

.light
{
	opacity: 0.1;
}

#aboutBut
{
	border-radius: 30%;
}